@media only screen{
    .Capa{
        position: relative;
    }
    .texto-imagem{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% );
        color: white;
        text-align: center;
        font-size: 60;
    }
    body{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: white;
        text-align: center;
    }
    header img{
    mix-blend-mode: multiply;
    }
    section div{
        flex-basis: 30%;
        margin: 70px;
    }
    section img{
        width: 300px;
        height: 220px;
        mix-blend-mode: multiply;
        margin: 20px;
    }
    }